In [147]:
import pandas as pd
import os
import glob
import numpy as np

In [464]:
folder = glob.glob("C:\\Documents\\ALL NSE DATA\\NSE F&O year 20112015&2019-2020\\NSE F&O\\2020\\03")
for file in folder:
    files = glob.glob(file+"\\*.csv")
    print(files)

['C:\\Documents\\ALL NSE DATA\\NSE F&O year 20112015&2019-2020\\NSE F&O\\2020\\03\\GFDLNFO_03032020.csv', 'C:\\Documents\\ALL NSE DATA\\NSE F&O year 20112015&2019-2020\\NSE F&O\\2020\\03\\GFDLNFO_04032020.csv', 'C:\\Documents\\ALL NSE DATA\\NSE F&O year 20112015&2019-2020\\NSE F&O\\2020\\03\\GFDLNFO_05032020.csv', 'C:\\Documents\\ALL NSE DATA\\NSE F&O year 20112015&2019-2020\\NSE F&O\\2020\\03\\GFDLNFO_06032020.csv', 'C:\\Documents\\ALL NSE DATA\\NSE F&O year 20112015&2019-2020\\NSE F&O\\2020\\03\\GFDLNFO_09032020.csv', 'C:\\Documents\\ALL NSE DATA\\NSE F&O year 20112015&2019-2020\\NSE F&O\\2020\\03\\GFDLNFO_11032020.csv', 'C:\\Documents\\ALL NSE DATA\\NSE F&O year 20112015&2019-2020\\NSE F&O\\2020\\03\\GFDLNFO_12032020.csv', 'C:\\Documents\\ALL NSE DATA\\NSE F&O year 20112015&2019-2020\\NSE F&O\\2020\\03\\GFDLNFO_13032020  change.csv', 'C:\\Documents\\ALL NSE DATA\\NSE F&O year 20112015&2019-2020\\NSE F&O\\2020\\03\\GFDLNFO_16032020.csv', 'C:\\Documents\\ALL NSE DATA\\NSE F&O year 20112015&2019-2020\\NSE F&O\\2020\\03\\GFDLNFO_17032020.csv', 'C:\\Documents\\ALL NSE DATA\\NSE F&O year 20112015&2019-2020\\NSE F&O\\2020\\03\\GFDLNFO_18032020.csv', 'C:\\Documents\\ALL NSE DATA\\NSE F&O year 20112015&2019-2020\\NSE F&O\\2020\\03\\GFDLNFO_19032020.csv', 'C:\\Documents\\ALL NSE DATA\\NSE F&O year 20112015&2019-2020\\NSE F&O\\2020\\03\\GFDLNFO_20032020.csv', 'C:\\Documents\\ALL NSE DATA\\NSE F&O year 20112015&2019-2020\\NSE F&O\\2020\\03\\GFDLNFO_23032020.csv', 'C:\\Documents\\ALL NSE DATA\\NSE F&O year 20112015&2019-2020\\NSE F&O\\2020\\03\\GFDLNFO_24032020.csv', 'C:\\Documents\\ALL NSE DATA\\NSE F&O year 20112015&2019-2020\\NSE F&O\\2020\\03\\GFDLNFO_25032020.csv', 'C:\\Documents\\ALL NSE DATA\\NSE F&O year 20112015&2019-2020\\NSE F&O\\2020\\03\\GFDLNFO_26032020.csv', 'C:\\Documents\\ALL NSE DATA\\NSE F&O year 20112015&2019-2020\\NSE F&O\\2020\\03\\GFDLNFO_27032020.csv', 'C:\\Documents\\ALL NSE DATA\\NSE F&O year 20112015&2019-2020\\NSE F&O\\2020\\03\\GFDLNFO_30032020.csv', 'C:\\Documents\\ALL NSE DATA\\NSE F&O year 20112015&2019-2020\\NSE F&O\\2020\\03\\GFDLNFO_31032020.csv']

In [465]:
#df = pd.concat(pd.read_csv(files[i]) for i in range(0,len(files)))
#df
for file in folder:
    files = glob.glob(file + "/*.csv")
df = pd.read_csv(files[2])
df

,Ticker,Date,Time,Open,High,Low,Close,Volume,Open Interest
0,ACC26MAR201200PE,05/03/2020,13:05:59,8.50,8.50,8.50,8.50,400,15200
1,ACC26MAR201200PE,05/03/2020,13:47:59,10.45,10.45,10.45,10.45,400,15600
2,ACC26MAR201200PE,05/03/2020,14:44:59,7.70,7.70,7.70,7.70,800,15200
3,ACC26MAR201200PE,05/03/2020,14:47:59,11.70,11.70,11.70,11.70,800,16000
4,ACC26MAR201200PE,05/03/2020,15:12:59,11.70,11.70,11.70,11.70,400,15200
...,...,...,...,...,...,...,...,...,...
346376,ZEEL-II,05/03/2020,15:25:59,239.55,239.55,239.55,239.55,3400,195500
346377,ZEEL-III,05/03/2020,09:20:59,250.00,250.00,250.00,250.00,1700,8500
346378,ZEEL-III,05/03/2020,09:45:59,250.00,250.00,244.00,244.00,1700,10200
346379,ZEEL-III,05/03/2020,10:25:59,244.00,244.00,242.00,242.00,1700,10200
346380,ZEEL-III,05/03/2020,10:33:59,241.00,241.00,241.00,241.00,1700,11900

In [466]:
df.insert(0,'Timestamp',df['Date'] + " " + df['Time'])
df['Timestamp'] = pd.to_datetime(df['Timestamp'] , format = '%d/%m/%Y %H:%M:%S')
df.drop('Date' , axis = 1 , inplace = True)
df.drop('Time' , axis = 1 , inplace = True)
df

,Timestamp,Ticker,Open,High,Low,Close,Volume,Open Interest
0,2020-03-05 13:05:59,ACC26MAR201200PE,8.50,8.50,8.50,8.50,400,15200
1,2020-03-05 13:47:59,ACC26MAR201200PE,10.45,10.45,10.45,10.45,400,15600
2,2020-03-05 14:44:59,ACC26MAR201200PE,7.70,7.70,7.70,7.70,800,15200
3,2020-03-05 14:47:59,ACC26MAR201200PE,11.70,11.70,11.70,11.70,800,16000
4,2020-03-05 15:12:59,ACC26MAR201200PE,11.70,11.70,11.70,11.70,400,15200
...,...,...,...,...,...,...,...,...
346376,2020-03-05 15:25:59,ZEEL-II,239.55,239.55,239.55,239.55,3400,195500
346377,2020-03-05 09:20:59,ZEEL-III,250.00,250.00,250.00,250.00,1700,8500
346378,2020-03-05 09:45:59,ZEEL-III,250.00,250.00,244.00,244.00,1700,10200
346379,2020-03-05 10:25:59,ZEEL-III,244.00,244.00,242.00,242.00,1700,10200
346380,2020-03-05 10:33:59,ZEEL-III,241.00,241.00,241.00,241.00,1700,11900

In [467]:
ticker = 'BANKNIFTY-I'
df = df[df['Ticker'].apply(lambda a : a[0:len(ticker)] == ticker)]
df.drop("Open Interest",axis = 1 , inplace = True)
df

C:\Users\vaibh\AppData\Local\Temp\ipykernel_35312\3020521226.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop("Open Interest",axis = 1 , inplace = True)

,Timestamp,Ticker,Open,High,Low,Close,Volume
76914,2020-03-05 09:15:59,BANKNIFTY-I,28839.95,28988.00,28801.10,28956.80,78860
76915,2020-03-05 09:16:59,BANKNIFTY-I,28948.95,28954.15,28872.00,28910.05,56640
76916,2020-03-05 09:17:59,BANKNIFTY-I,28908.40,28920.60,28892.65,28906.00,28100
76917,2020-03-05 09:18:59,BANKNIFTY-I,28910.00,28925.90,28890.30,28895.00,32420
76918,2020-03-05 09:19:59,BANKNIFTY-I,28895.00,28900.95,28810.35,28831.00,52440
...,...,...,...,...,...,...,...
77755,2020-03-05 15:24:59,BANKNIFTY-III,29009.50,29009.50,28998.80,28998.80,20
77756,2020-03-05 15:25:59,BANKNIFTY-III,28998.80,28998.80,28977.80,28978.50,120
77757,2020-03-05 15:26:59,BANKNIFTY-III,28978.50,28978.50,28970.00,28970.00,20
77758,2020-03-05 15:27:59,BANKNIFTY-III,28970.00,28980.00,28970.00,28980.00,20
77759,2020-03-05 15:29:59,BANKNIFTY-III,28980.00,28984.10,28980.00,28984.10,20

In [468]:
ohlc = {
        'Ticker':'first',
        'Open': 'first',
        'High': 'max',
        'Low':'min',
        'Close':'last',
        'Volume':'sum'
        }
    
for key in df:
            
    df.set_index('Timestamp', inplace=True)
    df = df.resample('5min').apply(ohlc)
    df.dropna(inplace=True)
    df.reset_index(inplace=True)
print(df)

             Timestamp       Ticker      Open      High       Low     Close  \
0  2020-03-05 09:15:00  BANKNIFTY-I  28839.95  29208.45  28801.10  29024.55
1  2020-03-05 09:20:00  BANKNIFTY-I  28830.95  29024.55  28736.55  28965.00
2  2020-03-05 09:25:00  BANKNIFTY-I  28747.10  28965.00  28660.05  28920.00
3  2020-03-05 09:30:00  BANKNIFTY-I  28707.70  29001.25  28635.95  29001.25
4  2020-03-05 09:35:00  BANKNIFTY-I  28795.00  29001.25  28754.65  28902.00
..                 ...          ...       ...       ...       ...       ...
71 2020-03-05 15:10:00  BANKNIFTY-I  28879.30  28992.05  28811.10  28936.25
72 2020-03-05 15:15:00  BANKNIFTY-I  28833.00  29070.70  28830.15  29040.00
73 2020-03-05 15:20:00  BANKNIFTY-I  28835.55  29040.00  28791.00  28998.80
74 2020-03-05 15:25:00  BANKNIFTY-I  28801.40  28998.80  28759.30  28984.10
75 2020-03-05 15:30:00  BANKNIFTY-I  28786.50  28786.50  28786.50  28786.50

    Volume
0   252000
1   160340
2   152680
3   138200
4    61640
..     ...
71   76200
72   54640
73   64460
74   97820
75     100

[76 rows x 7 columns]

In [1]:

df["MA"] = df["Close"].ewm(span=20,min_periods = 20).mean()
df["BB_up"] = df["MA"]+ 2*df["Close"].rolling(20).std(ddof=0)
df["BB_down"] = df["MA"]- 2*df["Close"].rolling(20).std(ddof=0)
df["BB_width"] = df["BB_up"]-df["BB_down"]
#signal only when K & D is above 80 or beLow 20 - buy when above 80 and K>D - opposite for sell
df['14-High'] = df['High'].rolling(14).max()
df['14-Low'] = df['Low'].rolling(14).min()
df['%K'] = (df['Close'] - df['14-Low'])*100/(df['14-High'] - df['14-Low'])
df['%D'] = df['%K'].rolling(3).mean()
df["5EMA"] = df["Close"].ewm(span=5,min_periods=5).mean()
#df.dropna(inplace = True)
df.reset_index(inplace = True)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  
    display(df)
#df.plot(x="Timestamp", y=['Close','BB_up' , 'BB_down','5EMA'])
#df.plot(x="Timestamp", y=['%K',"%D"])

NameError: name 'df' is not defined

In [2]:
tradelog = pd.DataFrame(columns= ["Entry_Time","Signal","Exit_Time","Target_hit","Stoploss_hit"])
k = 0
for i in range(1,len(df)):
    if (df["Close"][i-1]+(df["Close"][i-1]*0.00025))>=df["BB_up"][i] and (df["Low"][i-1]-5)>df["5EMA"][i]:
        tradelog.loc[k,'Signal'] = "ATM_PUT_BUY"
        tradelog.loc[k,'Entry_Time'] = df['Timestamp'][i]
        for j in range(i,10):
            if df["Close"][j]<= df["5EMA"][j]:
                tradelog.loc[k,'Exit_Time'] = df['Timestamp'][j]
                tradelog.loc[k,'Target_hit'] = 1
                tradelog.loc[k,'Stoploss_hit'] = 0
            elif df["Close"][j] >= df["High"][j-1]+(df["High"][j-1]-df["Low"][j-1]):
                tradelog.loc[k,'Exit_Time'] = df['Timestamp'][j]
                tradelog.loc[k,'Stoploss_hit'] = 1
                tradelog.loc[k,'Target_hit'] = 0

        
    elif (df["Close"][i-1]-(df["Close"][i-1]*0.00025))<df["BB_down"][i] and (df["High"][i-1]+5)<df["5EMA"][i]:
        tradelog.loc[k,'Signal'] = "ATM_CALL_BUY"
        tradelog.loc[k,'Entry_Time'] = df['Timestamp'][i]
        for j in range(i,10):
            if df["Close"][j]>= df["5EMA"][j]:
                tradelog.loc[k,'Exit_Time'] = df['Timestamp'][j]
                tradelog.loc[k,'Target_hit'] = 1
                tradelog.loc[k,'Stoploss_hit'] = 0
            elif df["Close"][j] <= df["High"][j-1]-(df["High"][j-1]-df["Low"][j-1]):
                tradelog.loc[k,'Exit_Time'] = df['Timestamp'][j]
                tradelog.loc[k,'Stoploss_hit'] = 1
                tradelog.loc[k,'Target_hit'] = 0
    k+=1
#tradelog .reset_index(drop = True,inplace = True)
#with pd.option_context('display.max_rows', None, 'display.max_columns', None):  
tradelog

NameError: name 'pd' is not defined

In [441]:
for i in range(1,len(df)):
    print((df["Close"][i-1]+(df["Close"][i-1]*0.0005)) > df["BB_up"][i]) and ((df["Low"][i-1]-5) > df["5EMA"][i-1])