In [2]:
#Importing all the libs
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import glob
pd.options.mode.chained_assignment = None

In [3]:
folder = glob.glob("C:\\Users\\vaibh\\Desktop\\file(01)")
folder

['C:\\Users\\vaibh\\Desktop\\file(01)']

In [4]:
for file in folder:
    files = glob.glob(file + "/*.csv")
files

['C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_02012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_03012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_06012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_07012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_08012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_09012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_10012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_13012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_14012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_15012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_16012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_17012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_20012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_21012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_22012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_23012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_24012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_27012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_28012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_29012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_30012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_31012020.csv']

In [5]:
tradelog = pd.DataFrame(columns = ['Ticker', 'Entry Time', 'Entry Price', 'Stop Loss Exit', 'Exit Time', 'Exit Price'])
tradelog

Empty DataFrame
Columns: [Ticker, Entry Time, Entry Price, Stop Loss Exit, Exit Time, Exit Price]
Index: []

In [6]:
xx = pd.read_csv(files[0])
xx.insert(0,'Timestamp',xx['Date'] + " " + xx['Time'])
xx['Timestamp'] = pd.to_datetime(xx['Timestamp'] , format = '%d/%m/%Y %H:%M:%S')
xx.drop('Time',axis = 1 , inplace = True)
xx.drop('Date',axis = 1 , inplace = True)
xx

,Timestamp,Ticker,Open,High,Low,Close,Volume,Open Interest
0,2020-01-02 09:40:59,ACC30JAN201360PE,6.20,6.20,6.20,6.20,400,6800
1,2020-01-02 09:43:59,ACC30JAN201360PE,6.20,6.20,6.00,6.00,400,6800
2,2020-01-02 09:46:59,ACC30JAN201360PE,6.00,6.00,6.00,6.00,400,7200
3,2020-01-02 09:49:59,ACC30JAN201360PE,6.00,6.30,6.00,6.30,800,7200
4,2020-01-02 09:51:59,ACC30JAN201360PE,6.00,6.00,6.00,6.00,400,7200
...,...,...,...,...,...,...,...,...
281763,2020-01-02 15:04:59,ZEEL-II,292.85,292.85,292.85,292.85,1700,193800
281764,2020-01-02 15:08:59,ZEEL-II,292.85,292.85,292.00,292.00,1700,193800
281765,2020-01-02 15:18:59,ZEEL-II,292.00,292.00,292.00,292.00,1700,185300
281766,2020-01-02 15:20:59,ZEEL-II,292.00,292.00,291.70,292.00,3400,187000
281767,2020-01-02 14:41:59,ZEEL-III,296.25,296.25,296.25,296.25,1700,5100

In [7]:
ticker = 'BANKNIFTY'
data = xx[xx['Ticker'].apply(lambda a: a[0:len(ticker)]==ticker)]
data

,Timestamp,Ticker,Open,High,Low,Close,Volume,Open Interest
27906,2020-01-02 09:45:59,BANKNIFTY02JAN2027500PE,0.20,0.20,0.20,0.20,20,1820
27907,2020-01-02 10:03:59,BANKNIFTY02JAN2027500PE,0.05,0.05,0.05,0.05,20,1840
27908,2020-01-02 10:13:59,BANKNIFTY02JAN2027500PE,0.05,0.05,0.05,0.05,640,1820
27909,2020-01-02 10:15:59,BANKNIFTY02JAN2027500PE,0.05,0.05,0.05,0.05,360,1180
27910,2020-01-02 10:23:59,BANKNIFTY02JAN2027500PE,0.05,0.05,0.05,0.05,20,1180
...,...,...,...,...,...,...,...,...
63233,2020-01-02 15:19:59,BANKNIFTY-III,32797.00,32797.00,32797.00,32797.00,20,4820
63234,2020-01-02 15:22:59,BANKNIFTY-III,32797.00,32797.00,32797.00,32797.00,20,4840
63235,2020-01-02 15:23:59,BANKNIFTY-III,32797.00,32797.00,32780.10,32794.95,40,4840
63236,2020-01-02 15:24:59,BANKNIFTY-III,32794.95,32794.95,32772.00,32783.95,80,4860
63237,2020-01-02 15:29:59,BANKNIFTY-III,32783.95,32783.95,32774.30,32777.50,140,4860

In [9]:
puts = data[data['Ticker'].apply(lambda a : a.strip()[-2:] == 'PE')]
puts

,Timestamp,Ticker,Open,High,Low,Close,Volume,Open Interest
27906,2020-01-02 09:45:59,BANKNIFTY02JAN2027500PE,0.20,0.20,0.20,0.20,20,1820
27907,2020-01-02 10:03:59,BANKNIFTY02JAN2027500PE,0.05,0.05,0.05,0.05,20,1840
27908,2020-01-02 10:13:59,BANKNIFTY02JAN2027500PE,0.05,0.05,0.05,0.05,640,1820
27909,2020-01-02 10:15:59,BANKNIFTY02JAN2027500PE,0.05,0.05,0.05,0.05,360,1180
27910,2020-01-02 10:23:59,BANKNIFTY02JAN2027500PE,0.05,0.05,0.05,0.05,20,1180
...,...,...,...,...,...,...,...,...
62568,2020-01-02 14:47:59,BANKNIFTY30JAN2035000PE,2440.40,2440.50,2440.40,2440.50,20,6800
62569,2020-01-02 14:48:59,BANKNIFTY30JAN2035000PE,2440.50,2440.50,2430.00,2430.00,100,6780
62570,2020-01-02 15:08:59,BANKNIFTY30JAN2035000PE,2430.00,2430.00,2401.50,2401.50,200,6880
62571,2020-01-02 15:28:59,BANKNIFTY30JAN2035000PE,2401.50,2420.00,2401.50,2420.00,20,6980
62572,2020-01-02 15:29:59,BANKNIFTY30JAN2035000PE,2420.00,2420.00,2400.00,2400.00,180,6980

In [10]:
futures = data[data['Ticker'].apply(lambda a : a.strip()[-2:] == '-I')]
futures

,Timestamp,Ticker,Open,High,Low,Close,Volume,Open Interest
62573,2020-01-02 09:15:59,BANKNIFTY-I,32299.00,32376.00,32299.00,32368.95,51260,1299680
62574,2020-01-02 09:16:59,BANKNIFTY-I,32368.95,32370.00,32351.00,32351.00,31540,1299680
62575,2020-01-02 09:17:59,BANKNIFTY-I,32350.95,32372.60,32350.95,32369.85,17360,1301400
62576,2020-01-02 09:18:59,BANKNIFTY-I,32366.50,32367.20,32356.10,32358.00,17420,1301400
62577,2020-01-02 09:19:59,BANKNIFTY-I,32356.25,32377.00,32356.00,32377.00,14560,1301400
...,...,...,...,...,...,...,...,...
62943,2020-01-02 15:25:59,BANKNIFTY-I,32564.85,32570.00,32562.50,32563.00,16140,1399760
62944,2020-01-02 15:26:59,BANKNIFTY-I,32562.50,32562.95,32559.10,32561.15,20080,1399760
62945,2020-01-02 15:27:59,BANKNIFTY-I,32560.40,32562.00,32558.70,32560.90,19760,1395540
62946,2020-01-02 15:28:59,BANKNIFTY-I,32561.05,32568.90,32561.00,32568.00,18100,1395540
62947,2020-01-02 15:29:59,BANKNIFTY-I,32569.00,32580.00,32568.00,32575.30,12580,1395540

In [11]:
expiry = puts[puts['Volume'] == puts['Volume'].max()]['Ticker'].iloc[0].strip()[:len(ticker)+5]
expiry

'BANKNIFTY02JAN'

In [12]:
current_expiry = puts[puts['Ticker'].apply(lambda a: a.strip()[:len(ticker)+5] == expiry)]
current_expiry

,Timestamp,Ticker,Open,High,Low,Close,Volume,Open Interest
27906,2020-01-02 09:45:59,BANKNIFTY02JAN2027500PE,0.20,0.20,0.20,0.20,20,1820
27907,2020-01-02 10:03:59,BANKNIFTY02JAN2027500PE,0.05,0.05,0.05,0.05,20,1840
27908,2020-01-02 10:13:59,BANKNIFTY02JAN2027500PE,0.05,0.05,0.05,0.05,640,1820
27909,2020-01-02 10:15:59,BANKNIFTY02JAN2027500PE,0.05,0.05,0.05,0.05,360,1180
27910,2020-01-02 10:23:59,BANKNIFTY02JAN2027500PE,0.05,0.05,0.05,0.05,20,1180
...,...,...,...,...,...,...,...,...
40120,2020-01-02 12:45:59,BANKNIFTY02JAN2034000PE,1710.00,1727.35,1710.00,1727.35,20,260
40121,2020-01-02 14:19:59,BANKNIFTY02JAN2034000PE,1640.00,1727.35,1640.00,1640.00,20,240
40122,2020-01-02 14:21:59,BANKNIFTY02JAN2034000PE,1640.00,1640.00,1640.00,1640.00,20,240
40123,2020-01-02 14:49:59,BANKNIFTY02JAN2034000PE,1640.00,1640.00,1588.05,1588.05,100,240
40124,2020-01-02 15:18:59,BANKNIFTY02JAN2034000PE,1588.05,1588.05,1536.00,1536.00,20,340

In [13]:
ATM = int(futures['Open'].iloc[0].round(-2))
ATM

32300

In [14]:
ITM = ATM + 200
ITM

32500

In [15]:
OTM = ATM - 200
OTM

32100

In [16]:
ITM_strike = str(ITM) + 'PE'
ITM_strike

'32500PE'

In [17]:
OTM_strike = str(OTM) + 'PE'
OTM_strike

'32100PE'

In [18]:
ITM_puts = current_expiry[current_expiry['Ticker'].apply(lambda a : a.strip()[-7:] == ITM_strike)]
ITM_puts.columns = ["Timestamp", "PE_Ticker_ITM", "PE_Open_ITM", "PE_High_ITM", "PE_Low_ITM", "PE_Close_ITM", "PE_Volume_ITM", "PE_Open_Interest_ITM"]
ITM_puts

,Timestamp,PE_Ticker_ITM,PE_Open_ITM,PE_High_ITM,PE_Low_ITM,PE_Close_ITM,PE_Volume_ITM,PE_Open_Interest_ITM
36221,2020-01-02 09:15:59,BANKNIFTY02JAN2032500PE,353.15,353.20,280.00,284.15,7380,192180
36222,2020-01-02 09:16:59,BANKNIFTY02JAN2032500PE,284.90,301.10,284.25,301.10,7160,192180
36223,2020-01-02 09:17:59,BANKNIFTY02JAN2032500PE,301.20,301.20,277.05,282.00,6780,193060
36224,2020-01-02 09:18:59,BANKNIFTY02JAN2032500PE,283.50,294.80,283.45,290.80,20280,193060
36225,2020-01-02 09:19:59,BANKNIFTY02JAN2032500PE,288.45,290.00,269.25,271.55,27900,193060
...,...,...,...,...,...,...,...,...
36592,2020-01-02 15:26:59,BANKNIFTY02JAN2032500PE,58.15,58.65,57.50,58.00,42140,229360
36593,2020-01-02 15:27:59,BANKNIFTY02JAN2032500PE,58.00,58.40,57.60,57.90,34920,235140
36594,2020-01-02 15:28:59,BANKNIFTY02JAN2032500PE,58.00,58.00,56.45,57.00,52700,235140
36595,2020-01-02 15:29:59,BANKNIFTY02JAN2032500PE,57.00,57.00,56.50,56.55,33340,235140
36596,2020-01-02 15:30:59,BANKNIFTY02JAN2032500PE,56.75,56.75,56.75,56.75,420,235140

In [19]:
OTM_puts = current_expiry[current_expiry['Ticker'].apply(lambda a : a.strip()[-7:] == OTM_strike)]
OTM_puts.columns = ["Timestamp", "PE_Ticker_OTM", "PE_Open_OTM", "PE_High_OTM", "PE_Low_OTM", "PE_Close_OTM", "PE_Volume_OTM", "PE_Open_Interest_OTM"]
OTM_puts

,Timestamp,PE_Ticker_OTM,PE_Open_OTM,PE_High_OTM,PE_Low_OTM,PE_Close_OTM,PE_Volume_OTM,PE_Open_Interest_OTM
33217,2020-01-02 09:15:59,BANKNIFTY02JAN2032100PE,70.00,70.00,32.75,34.00,125220,449660
33218,2020-01-02 09:16:59,BANKNIFTY02JAN2032100PE,32.00,39.00,32.00,38.75,230200,449660
33219,2020-01-02 09:17:59,BANKNIFTY02JAN2032100PE,38.70,38.75,30.55,33.45,212120,520760
33220,2020-01-02 09:18:59,BANKNIFTY02JAN2032100PE,33.60,36.00,33.60,35.00,164600,520760
33221,2020-01-02 09:19:59,BANKNIFTY02JAN2032100PE,34.60,34.80,29.35,29.70,209820,520760
...,...,...,...,...,...,...,...,...
33588,2020-01-02 15:26:59,BANKNIFTY02JAN2032100PE,0.05,0.10,0.05,0.05,4380,1011640
33589,2020-01-02 15:27:59,BANKNIFTY02JAN2032100PE,0.05,0.10,0.05,0.10,25240,1010340
33590,2020-01-02 15:28:59,BANKNIFTY02JAN2032100PE,0.05,0.10,0.05,0.10,14900,1010340
33591,2020-01-02 15:29:59,BANKNIFTY02JAN2032100PE,0.10,0.10,0.05,0.05,57420,1010340
33592,2020-01-02 15:30:59,BANKNIFTY02JAN2032100PE,0.05,0.05,0.05,0.05,2500,1010340

In [20]:
trade_data = pd.merge(ITM_puts,OTM_puts)
trade_data

,Timestamp,PE_Ticker_ITM,PE_Open_ITM,PE_High_ITM,PE_Low_ITM,PE_Close_ITM,PE_Volume_ITM,PE_Open_Interest_ITM,PE_Ticker_OTM,PE_Open_OTM,PE_High_OTM,PE_Low_OTM,PE_Close_OTM,PE_Volume_OTM,PE_Open_Interest_OTM
0,2020-01-02 09:15:59,BANKNIFTY02JAN2032500PE,353.15,353.20,280.00,284.15,7380,192180,BANKNIFTY02JAN2032100PE,70.00,70.00,32.75,34.00,125220,449660
1,2020-01-02 09:16:59,BANKNIFTY02JAN2032500PE,284.90,301.10,284.25,301.10,7160,192180,BANKNIFTY02JAN2032100PE,32.00,39.00,32.00,38.75,230200,449660
2,2020-01-02 09:17:59,BANKNIFTY02JAN2032500PE,301.20,301.20,277.05,282.00,6780,193060,BANKNIFTY02JAN2032100PE,38.70,38.75,30.55,33.45,212120,520760
3,2020-01-02 09:18:59,BANKNIFTY02JAN2032500PE,283.50,294.80,283.45,290.80,20280,193060,BANKNIFTY02JAN2032100PE,33.60,36.00,33.60,35.00,164600,520760
4,2020-01-02 09:19:59,BANKNIFTY02JAN2032500PE,288.45,290.00,269.25,271.55,27900,193060,BANKNIFTY02JAN2032100PE,34.60,34.80,29.35,29.70,209820,520760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,2020-01-02 15:26:59,BANKNIFTY02JAN2032500PE,58.15,58.65,57.50,58.00,42140,229360,BANKNIFTY02JAN2032100PE,0.05,0.10,0.05,0.05,4380,1011640
372,2020-01-02 15:27:59,BANKNIFTY02JAN2032500PE,58.00,58.40,57.60,57.90,34920,235140,BANKNIFTY02JAN2032100PE,0.05,0.10,0.05,0.10,25240,1010340
373,2020-01-02 15:28:59,BANKNIFTY02JAN2032500PE,58.00,58.00,56.45,57.00,52700,235140,BANKNIFTY02JAN2032100PE,0.05,0.10,0.05,0.10,14900,1010340
374,2020-01-02 15:29:59,BANKNIFTY02JAN2032500PE,57.00,57.00,56.50,56.55,33340,235140,BANKNIFTY02JAN2032100PE,0.10,0.10,0.05,0.05,57420,1010340
375,2020-01-02 15:30:59,BANKNIFTY02JAN2032500PE,56.75,56.75,56.75,56.75,420,235140,BANKNIFTY02JAN2032100PE,0.05,0.05,0.05,0.05,2500,1010340

In [21]:
Entry_time = "09:29:59"
trade_data = trade_data[trade_data['Timestamp'] >= pd.to_datetime(str(trade_data['Timestamp'].iloc[0].date())+ " "+ Entry_time)]
trade_data = trade_data[trade_data['Timestamp'] < pd.to_datetime(str(trade_data['Timestamp'].iloc[0].date())+ " "+ "15:14:59")]
trade_data.reset_index(drop=True, inplace=True)
trade_data

,Timestamp,PE_Ticker_ITM,PE_Open_ITM,PE_High_ITM,PE_Low_ITM,PE_Close_ITM,PE_Volume_ITM,PE_Open_Interest_ITM,PE_Ticker_OTM,PE_Open_OTM,PE_High_OTM,PE_Low_OTM,PE_Close_OTM,PE_Volume_OTM,PE_Open_Interest_OTM
0,2020-01-02 09:29:59,BANKNIFTY02JAN2032500PE,266.40,266.40,260.00,264.80,20420,226520,BANKNIFTY02JAN2032100PE,28.55,28.75,27.0,27.75,76440,789880
1,2020-01-02 09:30:59,BANKNIFTY02JAN2032500PE,263.55,263.55,251.35,252.45,11680,226520,BANKNIFTY02JAN2032100PE,27.65,27.65,23.2,24.00,157560,789880
2,2020-01-02 09:31:59,BANKNIFTY02JAN2032500PE,250.15,257.25,250.15,255.00,5500,226520,BANKNIFTY02JAN2032100PE,23.30,25.50,23.3,24.55,120320,789880
3,2020-01-02 09:32:59,BANKNIFTY02JAN2032500PE,255.00,258.05,248.15,251.40,11820,239340,BANKNIFTY02JAN2032100PE,24.60,25.05,22.4,22.85,159860,836140
4,2020-01-02 09:33:59,BANKNIFTY02JAN2032500PE,250.80,254.05,247.10,254.05,5940,239340,BANKNIFTY02JAN2032100PE,22.50,22.95,21.3,22.80,179660,836140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,2020-01-02 15:09:59,BANKNIFTY02JAN2032500PE,67.25,68.10,63.00,66.60,67720,422820,BANKNIFTY02JAN2032100PE,0.10,0.15,0.1,0.10,20520,1244640
341,2020-01-02 15:10:59,BANKNIFTY02JAN2032500PE,67.30,69.95,64.30,66.45,88160,422820,BANKNIFTY02JAN2032100PE,0.10,0.15,0.1,0.10,26300,1244640
342,2020-01-02 15:11:59,BANKNIFTY02JAN2032500PE,66.20,70.25,64.45,67.85,96400,422820,BANKNIFTY02JAN2032100PE,0.10,0.15,0.1,0.15,28380,1244640
343,2020-01-02 15:12:59,BANKNIFTY02JAN2032500PE,67.60,67.60,60.65,63.65,119060,408920,BANKNIFTY02JAN2032100PE,0.15,0.15,0.1,0.15,42280,1207860
344,2020-01-02 15:13:59,BANKNIFTY02JAN2032500PE,63.00,63.55,52.30,54.90,155540,408920,BANKNIFTY02JAN2032100PE,0.15,0.15,0.1,0.15,31120,1207860

In [22]:
#stoploss
PE_ticker_ITM = trade_data['PE_Ticker_ITM'].iloc[0]
PE_ticker_OTM = trade_data['PE_Ticker_OTM'].iloc[0]
PE_ITM_Entry_time = PE_OTM_Entry_time = trade_data['Timestamp'].iloc[0]
PE_ITM_Entry_price = trade_data['PE_Open_ITM'].iloc[0]
PE_OTM_Entry_price = trade_data['PE_Open_OTM'].iloc[0]

stop_loss_price_ITM = (PE_ITM_Entry_price)*((20+100)/100)
stop_loss_price_OTM = (PE_OTM_Entry_price)*((100-20)/100)
stop_loss = trade_data[(trade_data['PE_Open_ITM'] > stop_loss_price_ITM) | (trade_data['PE_Open_OTM'] < stop_loss_price_OTM)]
display(stop_loss)

,Timestamp,PE_Ticker_ITM,PE_Open_ITM,PE_High_ITM,PE_Low_ITM,PE_Close_ITM,PE_Volume_ITM,PE_Open_Interest_ITM,PE_Ticker_OTM,PE_Open_OTM,PE_High_OTM,PE_Low_OTM,PE_Close_OTM,PE_Volume_OTM,PE_Open_Interest_OTM
4,2020-01-02 09:33:59,BANKNIFTY02JAN2032500PE,250.80,254.05,247.10,254.05,5940,239340,BANKNIFTY02JAN2032100PE,22.50,22.95,21.30,22.80,179660,836140
17,2020-01-02 09:46:59,BANKNIFTY02JAN2032500PE,330.30,330.30,310.90,310.90,15100,244680,BANKNIFTY02JAN2032100PE,38.35,38.35,32.65,32.75,278980,1049840
21,2020-01-02 09:50:59,BANKNIFTY02JAN2032500PE,324.60,331.20,318.20,321.45,5760,240440,BANKNIFTY02JAN2032100PE,36.55,39.10,34.45,35.00,206100,1056320
22,2020-01-02 09:51:59,BANKNIFTY02JAN2032500PE,321.45,322.45,316.90,319.75,5300,240440,BANKNIFTY02JAN2032100PE,35.10,36.55,34.25,35.30,110100,1056320
25,2020-01-02 09:54:59,BANKNIFTY02JAN2032500PE,324.00,360.00,322.90,345.05,22000,240540,BANKNIFTY02JAN2032100PE,36.70,45.95,36.45,43.25,331880,1069720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,2020-01-02 15:09:59,BANKNIFTY02JAN2032500PE,67.25,68.10,63.00,66.60,67720,422820,BANKNIFTY02JAN2032100PE,0.10,0.15,0.10,0.10,20520,1244640
341,2020-01-02 15:10:59,BANKNIFTY02JAN2032500PE,67.30,69.95,64.30,66.45,88160,422820,BANKNIFTY02JAN2032100PE,0.10,0.15,0.10,0.10,26300,1244640
342,2020-01-02 15:11:59,BANKNIFTY02JAN2032500PE,66.20,70.25,64.45,67.85,96400,422820,BANKNIFTY02JAN2032100PE,0.10,0.15,0.10,0.15,28380,1244640
343,2020-01-02 15:12:59,BANKNIFTY02JAN2032500PE,67.60,67.60,60.65,63.65,119060,408920,BANKNIFTY02JAN2032100PE,0.15,0.15,0.10,0.15,42280,1207860
344,2020-01-02 15:13:59,BANKNIFTY02JAN2032500PE,63.00,63.55,52.30,54.90,155540,408920,BANKNIFTY02JAN2032100PE,0.15,0.15,0.10,0.15,31120,1207860

In [23]:
if stop_loss.empty:
    stop_loss_exit = 0
    PE_ITM_exit_time = PE_OTM_exit_time = trade_data['Timestamp'].iloc[-1]
    PE_ITM_exit_price = trade_data['PE_Open_ITM'].iloc[-1]
    PE_OTM_exit_price = trade_data['PE_Open_OTM'].iloc[-1]
else:
    stop_loss_exit = 1
    PE_ITM_exit_time = PE_OTM_exit_time = stop_loss['Timestamp'].iloc[0]
    PE_ITM_exit_price = stop_loss['PE_Open_ITM'].iloc[0]
    PE_OTM_exit_price = stop_loss['PE_Open_OTM'].iloc[0]

In [24]:
#Entry to tradelog
tradelog.loc[len(tradelog)] = [PE_ticker_ITM, PE_ITM_Entry_time, PE_ITM_Entry_price, stop_loss_exit, PE_ITM_exit_time, PE_ITM_exit_price]
tradelog.loc[len(tradelog)] = [PE_ticker_OTM, PE_OTM_Entry_time, PE_OTM_Entry_price, stop_loss_exit, PE_OTM_exit_time, PE_OTM_exit_price]
tradelog

,Ticker,Entry Time,Entry Price,Stop Loss Exit,Exit Time,Exit Price
0,BANKNIFTY02JAN2032500PE,2020-01-02 09:29:59,266.40,1,2020-01-02 09:33:59,250.8
1,BANKNIFTY02JAN2032100PE,2020-01-02 09:29:59,28.55,1,2020-01-02 09:33:59,22.5

In [25]:
tradelog['Buy'] = 0
tradelog['Sell'] = 0
for i in range(len(tradelog)):
    
    if tradelog['Ticker'].iloc[i].strip()[-7:] == OTM_strike:
        tradelog['Buy'][i] = 1
        tradelog['Sell'][i] = 0
    elif tradelog['Ticker'].iloc[i].strip()[-7:] == ITM_strike:
        tradelog['Sell'][i] = 1
        tradelog['Buy'][i] = 0
tradelog

,Ticker,Entry Time,Entry Price,Stop Loss Exit,Exit Time,Exit Price,Buy,Sell
0,BANKNIFTY02JAN2032500PE,2020-01-02 09:29:59,266.40,1,2020-01-02 09:33:59,250.8,0,1
1,BANKNIFTY02JAN2032100PE,2020-01-02 09:29:59,28.55,1,2020-01-02 09:33:59,22.5,1,0

In [28]:
#PNL
tradelog['PnL'] = 0
for i in range(len(tradelog)):
    if tradelog['Buy'][i] == 1 and tradelog['Sell'][i] == 0 :
        tradelog['PnL'][i] = 25*(tradelog['Exit Price'][i] - tradelog['Entry Price'][i])
    elif tradelog['Buy'][i] == 0 and tradelog['Sell'][i] == 1 :
        tradelog['PnL'][i] = 25*(tradelog['Entry Price'][i] - tradelog['Exit Price'][i])
    else:
        pass
tradelog['Cumulative_PnL'] = tradelog['PnL'].cumsum()
tradelog

,Ticker,Entry Time,Entry Price,Stop Loss Exit,Exit Time,Exit Price,Buy,Sell,PnL,Cumulative_PnL
0,BANKNIFTY02JAN2032500PE,2020-01-02 09:29:59,266.40,1,2020-01-02 09:33:59,250.8,0,1,389,389
1,BANKNIFTY02JAN2032100PE,2020-01-02 09:29:59,28.55,1,2020-01-02 09:33:59,22.5,1,0,-151,238