In [2]:
#Importing all the libs
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import glob
pd.options.mode.chained_assignment = None

In [3]:
folder = glob.glob("C:\\Users\\vaibh\\Desktop\\file(01)")

In [4]:
for file in folder:
    files = glob.glob(file + '/*.csv')
files

['C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_02012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_03012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_06012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_07012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_08012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_09012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_10012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_13012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_14012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_15012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_16012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_17012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_20012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_21012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_22012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_23012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_24012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_27012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_28012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_29012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_30012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_31012020.csv']

In [5]:
tradelog = pd.DataFrame(columns = ['Ticker', 'Entry Time', 'Entry Price', 'Stop Loss Exit', 'Exit Time', 'Exit Price'])
tradelog

Empty DataFrame
Columns: [Ticker, Entry Time, Entry Price, Stop Loss Exit, Exit Time, Exit Price]
Index: []

In [6]:
xx = pd.read_csv(files[0])
xx.insert(0,'Timestamp',xx['Date'] + " " + xx['Time'])
xx['Timestamp'] = pd.to_datetime(xx['Timestamp'] , format = '%d/%m/%Y %H:%M:%S')
xx.drop('Date',axis = 1 , inplace = True)
xx.drop('Time' , axis = 1 , inplace = True)
xx

,Timestamp,Ticker,Open,High,Low,Close,Volume,Open Interest
0,2020-01-02 09:40:59,ACC30JAN201360PE,6.20,6.20,6.20,6.20,400,6800
1,2020-01-02 09:43:59,ACC30JAN201360PE,6.20,6.20,6.00,6.00,400,6800
2,2020-01-02 09:46:59,ACC30JAN201360PE,6.00,6.00,6.00,6.00,400,7200
3,2020-01-02 09:49:59,ACC30JAN201360PE,6.00,6.30,6.00,6.30,800,7200
4,2020-01-02 09:51:59,ACC30JAN201360PE,6.00,6.00,6.00,6.00,400,7200
...,...,...,...,...,...,...,...,...
281763,2020-01-02 15:04:59,ZEEL-II,292.85,292.85,292.85,292.85,1700,193800
281764,2020-01-02 15:08:59,ZEEL-II,292.85,292.85,292.00,292.00,1700,193800
281765,2020-01-02 15:18:59,ZEEL-II,292.00,292.00,292.00,292.00,1700,185300
281766,2020-01-02 15:20:59,ZEEL-II,292.00,292.00,291.70,292.00,3400,187000
281767,2020-01-02 14:41:59,ZEEL-III,296.25,296.25,296.25,296.25,1700,5100

In [7]:
ticker = 'BANKNIFTY'
xx['Ticker'] = xx['Ticker'].apply(str)
data = xx[xx['Ticker'].apply(lambda a : a[0:len(ticker)] == ticker)]
data

,Timestamp,Ticker,Open,High,Low,Close,Volume,Open Interest
27906,2020-01-02 09:45:59,BANKNIFTY02JAN2027500PE,0.20,0.20,0.20,0.20,20,1820
27907,2020-01-02 10:03:59,BANKNIFTY02JAN2027500PE,0.05,0.05,0.05,0.05,20,1840
27908,2020-01-02 10:13:59,BANKNIFTY02JAN2027500PE,0.05,0.05,0.05,0.05,640,1820
27909,2020-01-02 10:15:59,BANKNIFTY02JAN2027500PE,0.05,0.05,0.05,0.05,360,1180
27910,2020-01-02 10:23:59,BANKNIFTY02JAN2027500PE,0.05,0.05,0.05,0.05,20,1180
...,...,...,...,...,...,...,...,...
63233,2020-01-02 15:19:59,BANKNIFTY-III,32797.00,32797.00,32797.00,32797.00,20,4820
63234,2020-01-02 15:22:59,BANKNIFTY-III,32797.00,32797.00,32797.00,32797.00,20,4840
63235,2020-01-02 15:23:59,BANKNIFTY-III,32797.00,32797.00,32780.10,32794.95,40,4840
63236,2020-01-02 15:24:59,BANKNIFTY-III,32794.95,32794.95,32772.00,32783.95,80,4860
63237,2020-01-02 15:29:59,BANKNIFTY-III,32783.95,32783.95,32774.30,32777.50,140,4860

In [8]:
calls = data[data['Ticker'].apply(lambda a : a.strip()[-2:] == 'CE')]
futures = data[data['Ticker'].apply(lambda a: a.strip()[-2:] == '-I')]

In [9]:
expiry = calls[calls['Volume'] == calls['Volume'].max()]['Ticker'].iloc[0][:len(ticker)+5]
expiry

'BANKNIFTY02JAN'

In [10]:
calls = calls[calls['Ticker'].apply(lambda a : a[0:len(ticker)+5] == expiry)]
calls

,Timestamp,Ticker,Open,High,Low,Close,Volume,Open Interest
27937,2020-01-02 09:15:59,BANKNIFTY02JAN2030000CE,2173.15,2217.00,2173.15,2217.00,100,1140
27938,2020-01-02 09:16:59,BANKNIFTY02JAN2030000CE,2217.00,2221.15,2217.00,2221.15,20,1140
27939,2020-01-02 09:57:59,BANKNIFTY02JAN2030000CE,2221.15,2221.15,2160.00,2160.00,40,1180
27940,2020-01-02 09:59:59,BANKNIFTY02JAN2030000CE,2160.00,2170.00,2160.00,2170.00,40,1180
27941,2020-01-02 10:00:59,BANKNIFTY02JAN2030000CE,2170.00,2170.00,2170.00,2170.00,40,1180
...,...,...,...,...,...,...,...,...
40191,2020-01-02 10:12:59,BANKNIFTY02JAN2035300CE,0.05,0.15,0.05,0.15,7920,5560
40192,2020-01-02 10:13:59,BANKNIFTY02JAN2035300CE,0.10,0.10,0.10,0.10,20,5560
40193,2020-01-02 10:15:59,BANKNIFTY02JAN2035300CE,0.10,0.10,0.10,0.10,60,1920
40194,2020-01-02 11:15:59,BANKNIFTY02JAN2035300CE,0.10,0.10,0.10,0.10,40,1900
40195,2020-01-02 14:02:59,BANKNIFTY02JAN2035400CE,0.10,0.10,0.10,0.10,320,1660

In [11]:
strike = int(futures['Open'].iloc[0].round(-2))
ATM_strike = str(strike)+'CE'
ATM_strike

'32300CE'

In [12]:
ITM_strike = strike - 200
ITM_strike = str(ITM_strike) + 'CE'
ITM_strike

'32100CE'

In [13]:
OTM_strike = strike + 200
OTM_strike = str(OTM_strike) + 'CE'
OTM_strike

'32500CE'

In [14]:
ITM_calls = calls[calls['Ticker'].apply(lambda a : a.strip()[-7:] == ITM_strike)]
ITM_calls.columns = ["Timestamp", "CE_Ticker_ITM", "CE_Open_ITM", "CE_High_ITM", "CE_Low_ITM", "CE_Close_ITM", "CE_Volume_ITM", "CE_Open_Interest_ITM"]
ITM_calls

,Timestamp,CE_Ticker_ITM,CE_Open_ITM,CE_High_ITM,CE_Low_ITM,CE_Close_ITM,CE_Volume_ITM,CE_Open_Interest_ITM
32842,2020-01-02 09:15:59,BANKNIFTY02JAN2032100CE,121.25,157.75,108.45,156.35,148700,312560
32843,2020-01-02 09:16:59,BANKNIFTY02JAN2032100CE,154.30,154.30,143.15,145.00,107960,312560
32844,2020-01-02 09:17:59,BANKNIFTY02JAN2032100CE,145.65,162.45,145.35,158.95,109260,318260
32845,2020-01-02 09:18:59,BANKNIFTY02JAN2032100CE,158.20,158.60,148.60,152.15,64420,318260
32846,2020-01-02 09:19:59,BANKNIFTY02JAN2032100CE,151.85,166.00,150.40,164.60,87560,318260
...,...,...,...,...,...,...,...,...
33212,2020-01-02 15:25:59,BANKNIFTY02JAN2032100CE,341.45,342.65,340.80,341.45,5540,61400
33213,2020-01-02 15:26:59,BANKNIFTY02JAN2032100CE,341.55,342.70,341.25,341.95,3780,61400
33214,2020-01-02 15:27:59,BANKNIFTY02JAN2032100CE,341.95,342.35,341.30,341.35,8160,58860
33215,2020-01-02 15:28:59,BANKNIFTY02JAN2032100CE,341.45,343.45,341.45,343.20,6840,58860
33216,2020-01-02 15:29:59,BANKNIFTY02JAN2032100CE,343.20,344.00,342.15,343.55,4080,58860

In [15]:
OTM_calls = calls[calls['Ticker'].apply(lambda a : a.strip()[-7:] == OTM_strike)]
OTM_calls.columns = ["Timestamp", "CE_Ticker_OTM", "CE_Open_OTM", "CE_High_OTM", "CE_Low_OTM", "CE_Close_OTM", "CE_Volume_OTM", "CE_Open_Interest_OTM"]
OTM_calls

,Timestamp,CE_Ticker_OTM,CE_Open_OTM,CE_High_OTM,CE_Low_OTM,CE_Close_OTM,CE_Volume_OTM,CE_Open_Interest_OTM
35846,2020-01-02 09:15:59,BANKNIFTY02JAN2032500CE,7.15,8.60,4.55,7.05,313760,1142640
35847,2020-01-02 09:16:59,BANKNIFTY02JAN2032500CE,7.05,7.15,6.50,6.75,303600,1142640
35848,2020-01-02 09:17:59,BANKNIFTY02JAN2032500CE,6.55,7.70,6.50,7.40,251080,1180200
35849,2020-01-02 09:18:59,BANKNIFTY02JAN2032500CE,7.40,7.40,6.60,6.65,180580,1180200
35850,2020-01-02 09:19:59,BANKNIFTY02JAN2032500CE,6.55,7.30,6.55,7.30,230380,1180200
...,...,...,...,...,...,...,...,...
36216,2020-01-02 15:25:59,BANKNIFTY02JAN2032500CE,0.05,0.10,0.05,0.05,115080,2343880
36217,2020-01-02 15:26:59,BANKNIFTY02JAN2032500CE,0.05,0.10,0.05,0.10,150000,2343880
36218,2020-01-02 15:27:59,BANKNIFTY02JAN2032500CE,0.05,0.10,0.05,0.05,115300,2110960
36219,2020-01-02 15:28:59,BANKNIFTY02JAN2032500CE,0.05,0.05,0.05,0.05,14900,2110960
36220,2020-01-02 15:29:59,BANKNIFTY02JAN2032500CE,0.05,0.05,0.05,0.05,14720,2110960

In [16]:
trade_data = pd.merge(OTM_calls,ITM_calls)
trade_data

,Timestamp,CE_Ticker_OTM,CE_Open_OTM,CE_High_OTM,CE_Low_OTM,CE_Close_OTM,CE_Volume_OTM,CE_Open_Interest_OTM,CE_Ticker_ITM,CE_Open_ITM,CE_High_ITM,CE_Low_ITM,CE_Close_ITM,CE_Volume_ITM,CE_Open_Interest_ITM
0,2020-01-02 09:15:59,BANKNIFTY02JAN2032500CE,7.15,8.60,4.55,7.05,313760,1142640,BANKNIFTY02JAN2032100CE,121.25,157.75,108.45,156.35,148700,312560
1,2020-01-02 09:16:59,BANKNIFTY02JAN2032500CE,7.05,7.15,6.50,6.75,303600,1142640,BANKNIFTY02JAN2032100CE,154.30,154.30,143.15,145.00,107960,312560
2,2020-01-02 09:17:59,BANKNIFTY02JAN2032500CE,6.55,7.70,6.50,7.40,251080,1180200,BANKNIFTY02JAN2032100CE,145.65,162.45,145.35,158.95,109260,318260
3,2020-01-02 09:18:59,BANKNIFTY02JAN2032500CE,7.40,7.40,6.60,6.65,180580,1180200,BANKNIFTY02JAN2032100CE,158.20,158.60,148.60,152.15,64420,318260
4,2020-01-02 09:19:59,BANKNIFTY02JAN2032500CE,6.55,7.30,6.55,7.30,230380,1180200,BANKNIFTY02JAN2032100CE,151.85,166.00,150.40,164.60,87560,318260
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,2020-01-02 15:25:59,BANKNIFTY02JAN2032500CE,0.05,0.10,0.05,0.05,115080,2343880,BANKNIFTY02JAN2032100CE,341.45,342.65,340.80,341.45,5540,61400
371,2020-01-02 15:26:59,BANKNIFTY02JAN2032500CE,0.05,0.10,0.05,0.10,150000,2343880,BANKNIFTY02JAN2032100CE,341.55,342.70,341.25,341.95,3780,61400
372,2020-01-02 15:27:59,BANKNIFTY02JAN2032500CE,0.05,0.10,0.05,0.05,115300,2110960,BANKNIFTY02JAN2032100CE,341.95,342.35,341.30,341.35,8160,58860
373,2020-01-02 15:28:59,BANKNIFTY02JAN2032500CE,0.05,0.05,0.05,0.05,14900,2110960,BANKNIFTY02JAN2032100CE,341.45,343.45,341.45,343.20,6840,58860
374,2020-01-02 15:29:59,BANKNIFTY02JAN2032500CE,0.05,0.05,0.05,0.05,14720,2110960,BANKNIFTY02JAN2032100CE,343.20,344.00,342.15,343.55,4080,58860

In [17]:
Entry_time = "09:29:59"
trade_data = trade_data[trade_data['Timestamp'] >= pd.to_datetime(str(trade_data['Timestamp'].iloc[0].date())+ " "+ Entry_time)]
trade_data = trade_data[trade_data['Timestamp'] < pd.to_datetime(str(trade_data['Timestamp'].iloc[0].date())+ " "+ "15:14:59")]
trade_data.reset_index(drop=True, inplace=True)
trade_data

,Timestamp,CE_Ticker_OTM,CE_Open_OTM,CE_High_OTM,CE_Low_OTM,CE_Close_OTM,CE_Volume_OTM,CE_Open_Interest_OTM,CE_Ticker_ITM,CE_Open_ITM,CE_High_ITM,CE_Low_ITM,CE_Close_ITM,CE_Volume_ITM,CE_Open_Interest_ITM
0,2020-01-02 09:29:59,BANKNIFTY02JAN2032500CE,7.95,8.45,7.95,8.15,83020,1511600,BANKNIFTY02JAN2032100CE,170.90,175.90,170.05,171.90,31160,296920
1,2020-01-02 09:30:59,BANKNIFTY02JAN2032500CE,8.15,8.65,8.15,8.60,96000,1511600,BANKNIFTY02JAN2032100CE,172.40,181.45,172.25,179.45,42780,296920
2,2020-01-02 09:31:59,BANKNIFTY02JAN2032500CE,8.70,8.85,8.40,8.75,105160,1511600,BANKNIFTY02JAN2032100CE,181.90,181.90,176.35,178.00,34460,296920
3,2020-01-02 09:32:59,BANKNIFTY02JAN2032500CE,8.75,9.00,8.45,8.60,115160,1532980,BANKNIFTY02JAN2032100CE,177.85,183.00,175.60,180.00,44040,288860
4,2020-01-02 09:33:59,BANKNIFTY02JAN2032500CE,8.70,8.80,8.05,8.05,113660,1532980,BANKNIFTY02JAN2032100CE,180.95,183.25,176.35,176.35,31020,288860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,2020-01-02 15:09:59,BANKNIFTY02JAN2032500CE,0.55,0.70,0.50,0.65,382720,3016580,BANKNIFTY02JAN2032100CE,333.75,337.70,331.55,333.90,2980,97520
341,2020-01-02 15:10:59,BANKNIFTY02JAN2032500CE,0.60,0.60,0.45,0.50,419980,3016580,BANKNIFTY02JAN2032100CE,333.00,336.70,330.40,334.45,8180,97520
342,2020-01-02 15:11:59,BANKNIFTY02JAN2032500CE,0.50,0.50,0.35,0.40,398900,3016580,BANKNIFTY02JAN2032100CE,334.45,335.65,329.85,332.55,11500,97520
343,2020-01-02 15:12:59,BANKNIFTY02JAN2032500CE,0.40,0.45,0.35,0.35,270840,2926580,BANKNIFTY02JAN2032100CE,333.20,339.80,333.15,337.50,9560,92180
344,2020-01-02 15:13:59,BANKNIFTY02JAN2032500CE,0.40,1.00,0.35,0.95,556720,2926580,BANKNIFTY02JAN2032100CE,337.50,348.00,336.95,346.20,12500,92180

In [18]:
#STOPLOSS LOGIC
CE_ticker_ITM = trade_data['CE_Ticker_ITM'].iloc[0]
CE_ticker_OTM = trade_data['CE_Ticker_OTM'].iloc[0]
CE_ITM_Entry_time = CE_OTM_Entry_time = trade_data['Timestamp'].iloc[0]
CE_ITM_Entry_price = trade_data['CE_Open_ITM'].iloc[0]
CE_OTM_Entry_price = trade_data['CE_Open_OTM'].iloc[0]

stop_loss_price_ITM = (CE_ITM_Entry_price)*((100+20)/100)
stop_loss_price_OTM = (CE_OTM_Entry_price)*((100-20)/100)
stop_loss = trade_data[(trade_data['CE_Open_ITM'] > stop_loss_price_ITM) | (trade_data['CE_Open_OTM'] < stop_loss_price_OTM)]
display(stop_loss)

,Timestamp,CE_Ticker_OTM,CE_Open_OTM,CE_High_OTM,CE_Low_OTM,CE_Close_OTM,CE_Volume_OTM,CE_Open_Interest_OTM,CE_Ticker_ITM,CE_Open_ITM,CE_High_ITM,CE_Low_ITM,CE_Close_ITM,CE_Volume_ITM,CE_Open_Interest_ITM
9,2020-01-02 09:38:59,BANKNIFTY02JAN2032500CE,6.30,6.40,5.60,5.70,145820,1590160,BANKNIFTY02JAN2032100CE,152.00,154.40,141.90,141.90,57340,295660
10,2020-01-02 09:39:59,BANKNIFTY02JAN2032500CE,5.65,5.65,4.65,5.35,322080,1590160,BANKNIFTY02JAN2032100CE,143.25,143.25,124.25,133.75,106860,295660
11,2020-01-02 09:40:59,BANKNIFTY02JAN2032500CE,5.35,5.90,5.25,5.90,127960,1590160,BANKNIFTY02JAN2032100CE,134.20,139.30,134.20,139.30,60520,295660
12,2020-01-02 09:41:59,BANKNIFTY02JAN2032500CE,5.85,5.95,5.60,5.80,81700,1617580,BANKNIFTY02JAN2032100CE,138.75,143.90,136.20,142.70,37000,312440
13,2020-01-02 09:42:59,BANKNIFTY02JAN2032500CE,5.75,6.00,5.75,5.75,111640,1617580,BANKNIFTY02JAN2032100CE,143.50,147.70,142.10,144.35,53340,312440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,2020-01-02 15:09:59,BANKNIFTY02JAN2032500CE,0.55,0.70,0.50,0.65,382720,3016580,BANKNIFTY02JAN2032100CE,333.75,337.70,331.55,333.90,2980,97520
341,2020-01-02 15:10:59,BANKNIFTY02JAN2032500CE,0.60,0.60,0.45,0.50,419980,3016580,BANKNIFTY02JAN2032100CE,333.00,336.70,330.40,334.45,8180,97520
342,2020-01-02 15:11:59,BANKNIFTY02JAN2032500CE,0.50,0.50,0.35,0.40,398900,3016580,BANKNIFTY02JAN2032100CE,334.45,335.65,329.85,332.55,11500,97520
343,2020-01-02 15:12:59,BANKNIFTY02JAN2032500CE,0.40,0.45,0.35,0.35,270840,2926580,BANKNIFTY02JAN2032100CE,333.20,339.80,333.15,337.50,9560,92180
344,2020-01-02 15:13:59,BANKNIFTY02JAN2032500CE,0.40,1.00,0.35,0.95,556720,2926580,BANKNIFTY02JAN2032100CE,337.50,348.00,336.95,346.20,12500,92180

In [19]:
if stop_loss.empty:
    stop_loss_exit = 0
    CE_ITM_exit_time = CE_OTM_exit_time = trade_data['Timestamp'].iloc[-1]
    CE_ITM_exit_price = trade_data['CE_Open_ITM'].iloc[-1]
    CE_OTM_exit_price = trade_data['CE_Open_OTM'].iloc[-1]
else:
    stop_loss_exit = 1
    CE_ITM_exit_time = CE_OTM_exit_time = stop_loss['Timestamp'].iloc[0]
    CE_ITM_exit_price = stop_loss['CE_Open_ITM'].iloc[0]
    CE_OTM_exit_price = stop_loss['CE_Open_OTM'].iloc[0]

In [20]:
#Entry to tradelog
tradelog.loc[len(tradelog)] = [CE_ticker_ITM, CE_ITM_Entry_time, CE_ITM_Entry_price, stop_loss_exit, CE_ITM_exit_time, CE_ITM_exit_price]
tradelog.loc[len(tradelog)] = [CE_ticker_OTM, CE_OTM_Entry_time, CE_OTM_Entry_price, stop_loss_exit, CE_OTM_exit_time, CE_OTM_exit_price]
tradelog

,Ticker,Entry Time,Entry Price,Stop Loss Exit,Exit Time,Exit Price
0,BANKNIFTY02JAN2032100CE,2020-01-02 09:29:59,170.90,1,2020-01-02 09:38:59,152.0
1,BANKNIFTY02JAN2032500CE,2020-01-02 09:29:59,7.95,1,2020-01-02 09:38:59,6.3

In [21]:
tradelog['Buy'] = 0
tradelog['Sell'] = 0
for i in range(len(tradelog)):
    
    if tradelog['Ticker'].iloc[i].strip()[-7:] == OTM_strike:
        tradelog['Buy'][i] = 1
        tradelog['Sell'][i] = 0
    elif tradelog['Ticker'].iloc[i].strip()[-7:] == ITM_strike:
        tradelog['Sell'][i] = 1
        tradelog['Buy'][i] = 0
tradelog

,Ticker,Entry Time,Entry Price,Stop Loss Exit,Exit Time,Exit Price,Buy,Sell
0,BANKNIFTY02JAN2032100CE,2020-01-02 09:29:59,170.90,1,2020-01-02 09:38:59,152.0,0,1
1,BANKNIFTY02JAN2032500CE,2020-01-02 09:29:59,7.95,1,2020-01-02 09:38:59,6.3,1,0

In [22]:
#PNL
tradelog['PnL'] = 0
for i in range(len(tradelog)):
    if tradelog['Buy'][i] == 1 and tradelog['Sell'][i] == 0 :
        tradelog['PnL'][i] = 25*(tradelog['Exit Price'][i] - tradelog['Entry Price'][i])
    elif tradelog['Buy'][i] == 0 and tradelog['Sell'][i] == 1 :
        tradelog['PnL'][i] = 25*(tradelog['Entry Price'][i] - tradelog['Exit Price'][i])
    else:
        pass
tradelog['Cumulative_PnL'] = tradelog['PnL'].cumsum()
tradelog

,Ticker,Entry Time,Entry Price,Stop Loss Exit,Exit Time,Exit Price,Buy,Sell,PnL,Cumulative_PnL
0,BANKNIFTY02JAN2032100CE,2020-01-02 09:29:59,170.90,1,2020-01-02 09:38:59,152.0,0,1,472,472
1,BANKNIFTY02JAN2032500CE,2020-01-02 09:29:59,7.95,1,2020-01-02 09:38:59,6.3,1,0,-41,431