In [1]:
#Importing all the libs
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import glob
from decimal import Decimal

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
folder = glob.glob("C:\\Users\\vaibh\\Desktop\\file(01)")
folder

['C:\\Users\\vaibh\\Desktop\\file(01)']

In [4]:
for file in folder:
    files = glob.glob(file + '/*.csv')
files

['C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_02012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_03012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_06012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_07012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_08012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_09012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_10012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_13012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_14012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_15012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_16012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_17012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_20012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_21012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_22012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_23012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_24012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_27012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_28012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_29012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_30012020.csv',
 'C:\\Users\\vaibh\\Desktop\\file(01)\\GFDLNFO_31012020.csv']

In [5]:
tradelog = pd.DataFrame(columns = ['Ticker', 'Entry Time', 'Entry Price', 'Stop Loss Exit', 'Exit Time', 'Exit Price'])
tradelog

Empty DataFrame
Columns: [Ticker, Entry Time, Entry Price, Stop Loss Exit, Exit Time, Exit Price]
Index: []

In [6]:
xx = pd.read_csv(files[1])
xx.insert(0,'Timestamp',xx['Date'] + " " + xx["Time"])
xx['Timestamp'] = pd.to_datetime(xx['Timestamp'] , format = '%d/%m/%Y %H:%M:%S')
xx.drop('Date',axis = 1 , inplace = True)
xx.drop('Time' , axis = 1 , inplace = True)
xx

,Timestamp,Ticker,Open,High,Low,Close,Volume,Open Interest
0,2020-01-03 10:55:59,ACC30JAN201340PE,2.30,2.30,2.3,2.30,800,800
1,2020-01-03 10:56:59,ACC30JAN201340PE,2.30,6.45,2.3,6.45,800,1600
2,2020-01-03 09:31:59,ACC30JAN201380PE,5.90,5.90,5.9,5.90,400,22400
3,2020-01-03 09:32:59,ACC30JAN201380PE,5.90,6.30,5.9,6.30,400,22400
4,2020-01-03 12:10:59,ACC30JAN201380PE,7.80,7.80,7.8,7.80,400,22400
...,...,...,...,...,...,...,...,...
293804,2020-01-03 15:19:59,ZEEL-II,275.95,275.95,275.5,275.60,3400,239700
293805,2020-01-03 15:20:59,ZEEL-II,275.60,275.90,275.6,275.90,1700,239700
293806,2020-01-03 15:23:59,ZEEL-II,275.90,275.90,275.5,275.50,8500,241400
293807,2020-01-03 15:27:59,ZEEL-II,276.00,276.00,276.0,276.00,5100,243100
293808,2020-01-03 15:29:59,ZEEL-II,276.40,276.40,276.4,276.40,1700,244800

In [7]:
#Because ticker includes int and string value aslo we are converting whole ticker into string
xx['Ticker'] = xx['Ticker'].apply(str)

In [10]:
#getting only the banknifty data
ticker = 'BANKNIFTY'    
data = xx[xx['Ticker'].apply(lambda a : a[0:len(ticker)]==ticker)]
data

,Timestamp,Ticker,Open,High,Low,Close,Volume,Open Interest
28026,2020-01-03 13:53:59,BANKNIFTY06FEB2032200CE,800.00,800.00,800.00,800.00,40,0
28027,2020-01-03 12:37:59,BANKNIFTY09JAN2027700CE,4450.00,4450.00,4450.00,4450.00,20,0
28028,2020-01-03 13:16:59,BANKNIFTY09JAN2027700CE,4450.00,4450.00,4367.55,4367.55,20,20
28029,2020-01-03 09:36:59,BANKNIFTY09JAN2027800PE,1.25,1.35,0.85,1.35,8740,0
28030,2020-01-03 09:37:59,BANKNIFTY09JAN2027800PE,1.25,1.80,1.20,1.70,16560,0
...,...,...,...,...,...,...,...,...
61261,2020-01-03 15:25:59,BANKNIFTY-III,32391.30,32394.25,32391.30,32394.25,20,5920
61262,2020-01-03 15:26:59,BANKNIFTY-III,32394.25,32409.00,32394.25,32409.00,20,5920
61263,2020-01-03 15:27:59,BANKNIFTY-III,32409.00,32420.60,32409.00,32420.60,40,5920
61264,2020-01-03 15:28:59,BANKNIFTY-III,32420.60,32420.60,32402.50,32402.50,40,5920
61265,2020-01-03 15:29:59,BANKNIFTY-III,32402.50,32405.90,32385.15,32386.10,120,5920

In [9]:
#getting all calls, puts  and futures data
calls  = data[data['Ticker'].apply(lambda a : a.strip()[-2:] == 'CE')]
futures = data[data['Ticker'].apply(lambda a: a.strip()[-2:]=="-I")]
futures

,Timestamp,Ticker,Open,High,Low,Close,Volume,Open Interest
60516,2020-01-03 09:15:59,BANKNIFTY-I,32445.50,32489.05,32360.00,32376.65,91260,1292380
60517,2020-01-03 09:16:59,BANKNIFTY-I,32376.95,32377.00,32352.00,32352.00,43720,1292380
60518,2020-01-03 09:17:59,BANKNIFTY-I,32355.00,32372.40,32351.00,32366.80,23660,1306260
60519,2020-01-03 09:18:59,BANKNIFTY-I,32368.25,32392.40,32368.05,32375.35,38200,1306260
60520,2020-01-03 09:19:59,BANKNIFTY-I,32375.00,32375.00,32360.00,32360.75,24660,1306260
...,...,...,...,...,...,...,...,...
60886,2020-01-03 15:25:59,BANKNIFTY-I,32197.10,32198.30,32185.00,32185.00,17940,1377000
60887,2020-01-03 15:26:59,BANKNIFTY-I,32185.00,32202.00,32183.85,32202.00,16860,1377000
60888,2020-01-03 15:27:59,BANKNIFTY-I,32201.85,32201.85,32195.05,32198.95,12080,1356020
60889,2020-01-03 15:28:59,BANKNIFTY-I,32199.00,32200.00,32187.35,32189.60,17180,1356020
60890,2020-01-03 15:29:59,BANKNIFTY-I,32189.60,32190.00,32174.80,32177.40,13420,1356020

In [10]:
#Getting current expiry for calls
calls_prefix = calls[calls['Volume'] == calls['Volume'].max()]['Ticker'].iloc[0][:len(ticker)+5]
calls_prefix
calls_current_expiry = calls[calls['Ticker'].apply(lambda a : a[0:len(ticker)+5]==calls_prefix)]
calls_current_expiry

,Timestamp,Ticker,Open,High,Low,Close,Volume,Open Interest
28027,2020-01-03 12:37:59,BANKNIFTY09JAN2027700CE,4450.00,4450.00,4450.00,4450.00,20,0
28028,2020-01-03 13:16:59,BANKNIFTY09JAN2027700CE,4450.00,4450.00,4367.55,4367.55,20,20
28054,2020-01-03 09:15:59,BANKNIFTY09JAN2030000CE,2302.15,2302.15,2302.15,2302.15,20,1180
28055,2020-01-03 09:20:59,BANKNIFTY09JAN2030000CE,2302.15,2302.15,2257.30,2257.30,20,1180
28056,2020-01-03 09:45:59,BANKNIFTY09JAN2030000CE,2257.30,2257.30,2174.50,2174.50,140,1180
...,...,...,...,...,...,...,...,...
45286,2020-01-03 15:04:59,BANKNIFTY09JAN2035400CE,2.20,2.20,2.20,2.20,100,4180
45287,2020-01-03 15:07:59,BANKNIFTY09JAN2035400CE,2.20,2.20,2.20,2.20,140,4280
45288,2020-01-03 15:09:59,BANKNIFTY09JAN2035400CE,2.20,2.20,2.20,2.20,20,4280
45289,2020-01-03 15:20:59,BANKNIFTY09JAN2035400CE,2.20,2.20,2.00,2.00,20,4440
45290,2020-01-03 15:29:59,BANKNIFTY09JAN2035400CE,2.00,2.00,1.80,1.80,180,4440

In [11]:
strike_ATM = int(futures['Open'].iloc[0].round(-2))
strike_ATM

32400

In [12]:
strike_OTM = strike_ATM + 200
strike_OTM

32600

In [13]:
#adding the strikes
OTM_strike = str(strike_OTM) + "CE"
ATM_strike = str(strike_ATM) + "CE"

In [14]:
ATM_calls = calls_current_expiry[calls_current_expiry['Ticker'].apply(lambda a:a.strip()[-7:]==ATM_strike)]
#ATM_calls.columns= ["Timestamp", "CE_Ticker_ATM", "CE_Open_ATM", "CE_High_ATM", "CE_Low_ATM", "CE_Close_ATM", "CE_Volume_ATM", "CE_Open_Interest_ATM"]
ATM_calls

,Timestamp,CE_Ticker_ATM,CE_Open_ATM,CE_High_ATM,CE_Low_ATM,CE_Close_ATM,CE_Volume_ATM,CE_Open_Interest_ATM
38041,2020-01-03 09:15:59,BANKNIFTY09JAN2032400CE,245.95,245.95,161.65,172.80,63680,133200
38042,2020-01-03 09:16:59,BANKNIFTY09JAN2032400CE,172.70,174.25,165.20,165.20,35520,133200
38043,2020-01-03 09:17:59,BANKNIFTY09JAN2032400CE,165.35,172.95,163.75,171.80,36020,147580
38044,2020-01-03 09:18:59,BANKNIFTY09JAN2032400CE,172.10,180.35,171.90,173.40,43780,147580
38045,2020-01-03 09:19:59,BANKNIFTY09JAN2032400CE,173.80,175.75,169.00,169.00,33760,147580
...,...,...,...,...,...,...,...,...
38411,2020-01-03 15:25:59,BANKNIFTY09JAN2032400CE,106.75,106.95,105.60,105.65,51740,462760
38412,2020-01-03 15:26:59,BANKNIFTY09JAN2032400CE,105.80,108.30,105.80,108.30,43120,462760
38413,2020-01-03 15:27:59,BANKNIFTY09JAN2032400CE,107.50,109.50,107.50,109.15,36160,450680
38414,2020-01-03 15:28:59,BANKNIFTY09JAN2032400CE,108.95,109.35,105.55,106.00,37700,450680
38415,2020-01-03 15:29:59,BANKNIFTY09JAN2032400CE,106.35,106.35,100.60,102.00,23020,450680

In [15]:
OTM_calls = calls_current_expiry[calls_current_expiry['Ticker'].apply(lambda a:a.strip()[-7:]==OTM_strike)]
OTM_calls.columns= ["Timestamp", "CE_Ticker_OTM", "CE_Open_OTM", "CE_High_OTM", "CE_Low_OTM", "CE_Close_OTM", "CE_Volume_OTM", "CE_Open_Interest_OTM"]
OTM_calls

,Timestamp,CE_Ticker_OTM,CE_Open_OTM,CE_High_OTM,CE_Low_OTM,CE_Close_OTM,CE_Volume_OTM,CE_Open_Interest_OTM
39541,2020-01-03 09:15:59,BANKNIFTY09JAN2032600CE,158.80,158.85,91.95,100.00,79400,164140
39542,2020-01-03 09:16:59,BANKNIFTY09JAN2032600CE,100.00,102.05,95.90,95.90,61080,164140
39543,2020-01-03 09:17:59,BANKNIFTY09JAN2032600CE,95.80,101.85,95.35,101.55,44880,183160
39544,2020-01-03 09:18:59,BANKNIFTY09JAN2032600CE,101.70,106.70,100.80,102.65,68300,183160
39545,2020-01-03 09:19:59,BANKNIFTY09JAN2032600CE,102.15,103.90,99.20,99.20,49660,183160
...,...,...,...,...,...,...,...,...
39912,2020-01-03 15:26:59,BANKNIFTY09JAN2032600CE,57.45,58.85,57.45,58.60,24920,367760
39913,2020-01-03 15:27:59,BANKNIFTY09JAN2032600CE,58.80,60.00,58.55,60.00,16460,358820
39914,2020-01-03 15:28:59,BANKNIFTY09JAN2032600CE,60.00,60.30,58.30,58.50,26620,358820
39915,2020-01-03 15:29:59,BANKNIFTY09JAN2032600CE,58.55,58.70,55.00,56.00,27520,358820
39916,2020-01-03 15:30:59,BANKNIFTY09JAN2032600CE,56.00,56.00,56.00,56.00,60,358820

In [16]:
trade_data = pd.merge(ATM_calls,OTM_calls, on = 'Timestamp')
trade_data

,Timestamp,CE_Ticker_ATM,CE_Open_ATM,CE_High_ATM,CE_Low_ATM,CE_Close_ATM,CE_Volume_ATM,CE_Open_Interest_ATM,CE_Ticker_OTM,CE_Open_OTM,CE_High_OTM,CE_Low_OTM,CE_Close_OTM,CE_Volume_OTM,CE_Open_Interest_OTM
0,2020-01-03 09:15:59,BANKNIFTY09JAN2032400CE,245.95,245.95,161.65,172.80,63680,133200,BANKNIFTY09JAN2032600CE,158.80,158.85,91.95,100.00,79400,164140
1,2020-01-03 09:16:59,BANKNIFTY09JAN2032400CE,172.70,174.25,165.20,165.20,35520,133200,BANKNIFTY09JAN2032600CE,100.00,102.05,95.90,95.90,61080,164140
2,2020-01-03 09:17:59,BANKNIFTY09JAN2032400CE,165.35,172.95,163.75,171.80,36020,147580,BANKNIFTY09JAN2032600CE,95.80,101.85,95.35,101.55,44880,183160
3,2020-01-03 09:18:59,BANKNIFTY09JAN2032400CE,172.10,180.35,171.90,173.40,43780,147580,BANKNIFTY09JAN2032600CE,101.70,106.70,100.80,102.65,68300,183160
4,2020-01-03 09:19:59,BANKNIFTY09JAN2032400CE,173.80,175.75,169.00,169.00,33760,147580,BANKNIFTY09JAN2032600CE,102.15,103.90,99.20,99.20,49660,183160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,2020-01-03 15:25:59,BANKNIFTY09JAN2032400CE,106.75,106.95,105.60,105.65,51740,462760,BANKNIFTY09JAN2032600CE,58.65,58.65,57.40,57.40,24040,367760
371,2020-01-03 15:26:59,BANKNIFTY09JAN2032400CE,105.80,108.30,105.80,108.30,43120,462760,BANKNIFTY09JAN2032600CE,57.45,58.85,57.45,58.60,24920,367760
372,2020-01-03 15:27:59,BANKNIFTY09JAN2032400CE,107.50,109.50,107.50,109.15,36160,450680,BANKNIFTY09JAN2032600CE,58.80,60.00,58.55,60.00,16460,358820
373,2020-01-03 15:28:59,BANKNIFTY09JAN2032400CE,108.95,109.35,105.55,106.00,37700,450680,BANKNIFTY09JAN2032600CE,60.00,60.30,58.30,58.50,26620,358820
374,2020-01-03 15:29:59,BANKNIFTY09JAN2032400CE,106.35,106.35,100.60,102.00,23020,450680,BANKNIFTY09JAN2032600CE,58.55,58.70,55.00,56.00,27520,358820

In [17]:
#SHORTLISTING DATA BASED ON ENTRY AND EXIT TIME ONLY
Entry_time = "09:29:59"
trade_data = trade_data[trade_data['Timestamp'] >= pd.to_datetime(str(trade_data["Timestamp"].iloc[0].date())+" "+Entry_time)]
trade_data = trade_data[trade_data["Timestamp"] < pd.to_datetime(str(trade_data["Timestamp"].iloc[0].date())+" "+"15:15:00")]
trade_data.reset_index(drop=True, inplace=True)
trade_data

,Timestamp,CE_Ticker_ATM,CE_Open_ATM,CE_High_ATM,CE_Low_ATM,CE_Close_ATM,CE_Volume_ATM,CE_Open_Interest_ATM,CE_Ticker_OTM,CE_Open_OTM,CE_High_OTM,CE_Low_OTM,CE_Close_OTM,CE_Volume_OTM,CE_Open_Interest_OTM
0,2020-01-03 09:29:59,BANKNIFTY09JAN2032400CE,175.60,175.60,171.00,171.85,9800,199760,BANKNIFTY09JAN2032600CE,103.50,103.50,99.90,100.30,18460,249160
1,2020-01-03 09:30:59,BANKNIFTY09JAN2032400CE,173.10,173.10,151.75,154.85,72520,199760,BANKNIFTY09JAN2032600CE,101.30,101.30,86.70,89.55,111900,249160
2,2020-01-03 09:31:59,BANKNIFTY09JAN2032400CE,155.50,155.80,148.95,151.90,60020,199760,BANKNIFTY09JAN2032600CE,89.30,90.70,85.00,87.80,67840,249160
3,2020-01-03 09:32:59,BANKNIFTY09JAN2032400CE,152.70,156.40,152.50,155.65,31740,216360,BANKNIFTY09JAN2032600CE,88.30,90.75,87.15,90.25,34340,277880
4,2020-01-03 09:33:59,BANKNIFTY09JAN2032400CE,156.45,160.95,155.80,159.15,19440,216360,BANKNIFTY09JAN2032600CE,90.50,93.65,90.45,92.40,25120,277880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,2020-01-03 15:10:59,BANKNIFTY09JAN2032400CE,103.00,104.60,102.05,103.25,26840,490600,BANKNIFTY09JAN2032600CE,57.40,58.45,56.65,57.30,16620,394740
342,2020-01-03 15:11:59,BANKNIFTY09JAN2032400CE,103.00,103.30,100.50,101.25,39400,490600,BANKNIFTY09JAN2032600CE,57.15,57.65,55.60,56.10,11080,394740
343,2020-01-03 15:12:59,BANKNIFTY09JAN2032400CE,101.05,103.80,101.05,102.10,25800,488140,BANKNIFTY09JAN2032600CE,56.10,57.55,56.00,56.15,20420,394260
344,2020-01-03 15:13:59,BANKNIFTY09JAN2032400CE,102.05,104.55,102.05,104.55,25100,488140,BANKNIFTY09JAN2032600CE,56.65,58.00,56.65,58.00,25600,394260
345,2020-01-03 15:14:59,BANKNIFTY09JAN2032400CE,105.00,106.00,103.25,106.00,32920,488140,BANKNIFTY09JAN2032600CE,57.85,58.75,57.05,58.75,24600,394260

In [18]:
#STOPLOSS LOGIC
CE_ticker_ATM = trade_data['CE_Ticker_ATM'].iloc[0]
CE_ticker_OTM = trade_data['CE_Ticker_OTM'].iloc[0]
CE_ATM_Entry_time = CE_OTM_Entry_time = trade_data['Timestamp'].iloc[0]
CE_ATM_Entry_price = trade_data['CE_Open_ATM'].iloc[0]
CE_OTM_Entry_price = trade_data['CE_Open_OTM'].iloc[0]

stop_loss_price_ATM = (CE_ATM_Entry_price)*((100-20)/100)
stop_loss_price_OTM = (CE_OTM_Entry_price)*((20+100)/100)
stop_loss = trade_data[(trade_data['CE_Open_ATM'] < stop_loss_price_ATM) | (trade_data['CE_Open_OTM'] > stop_loss_price_OTM)]
display(stop_loss)

,Timestamp,CE_Ticker_ATM,CE_Open_ATM,CE_High_ATM,CE_Low_ATM,CE_Close_ATM,CE_Volume_ATM,CE_Open_Interest_ATM,CE_Ticker_OTM,CE_Open_OTM,CE_High_OTM,CE_Low_OTM,CE_Close_OTM,CE_Volume_OTM,CE_Open_Interest_OTM
86,2020-01-03 10:55:59,BANKNIFTY09JAN2032400CE,133.15,133.20,128.60,132.30,34840,384880,BANKNIFTY09JAN2032600CE,75.75,75.95,73.40,75.00,43800,378500
87,2020-01-03 10:56:59,BANKNIFTY09JAN2032400CE,132.05,135.25,132.05,135.00,25440,375940,BANKNIFTY09JAN2032600CE,74.80,76.50,74.65,76.45,22740,391020
88,2020-01-03 10:57:59,BANKNIFTY09JAN2032400CE,135.00,136.00,134.00,135.55,11760,375940,BANKNIFTY09JAN2032600CE,76.50,77.05,75.50,76.35,22300,391020
89,2020-01-03 10:58:59,BANKNIFTY09JAN2032400CE,135.30,136.25,134.15,134.15,12440,375940,BANKNIFTY09JAN2032600CE,76.40,76.70,75.15,75.15,13420,391020
90,2020-01-03 10:59:59,BANKNIFTY09JAN2032400CE,134.15,134.35,132.45,132.60,8600,378760,BANKNIFTY09JAN2032600CE,75.25,75.35,74.40,74.60,11800,397700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,2020-01-03 15:10:59,BANKNIFTY09JAN2032400CE,103.00,104.60,102.05,103.25,26840,490600,BANKNIFTY09JAN2032600CE,57.40,58.45,56.65,57.30,16620,394740
342,2020-01-03 15:11:59,BANKNIFTY09JAN2032400CE,103.00,103.30,100.50,101.25,39400,490600,BANKNIFTY09JAN2032600CE,57.15,57.65,55.60,56.10,11080,394740
343,2020-01-03 15:12:59,BANKNIFTY09JAN2032400CE,101.05,103.80,101.05,102.10,25800,488140,BANKNIFTY09JAN2032600CE,56.10,57.55,56.00,56.15,20420,394260
344,2020-01-03 15:13:59,BANKNIFTY09JAN2032400CE,102.05,104.55,102.05,104.55,25100,488140,BANKNIFTY09JAN2032600CE,56.65,58.00,56.65,58.00,25600,394260
345,2020-01-03 15:14:59,BANKNIFTY09JAN2032400CE,105.00,106.00,103.25,106.00,32920,488140,BANKNIFTY09JAN2032600CE,57.85,58.75,57.05,58.75,24600,394260

In [19]:
if stop_loss.empty:
    stop_loss_exit = 0
    CE_ATM_exit_time = CE_OTM_exit_time = trade_data['Timestamp'].iloc[-1]
    CE_ATM_exit_price = trade_data['CE_Open_ATM'].iloc[-1]
    CE_OTM_exit_price = trade_data['CE_Open_OTM'].iloc[-1]
else:
    stop_loss_exit = 1
    CE_ATM_exit_time = CE_OTM_exit_time = stop_loss['Timestamp'].iloc[0]
    CE_ATM_exit_price = stop_loss['CE_Open_ATM'].iloc[0]
    CE_OTM_exit_price = stop_loss['CE_Open_OTM'].iloc[0]

In [20]:
#Entry to tradelog
tradelog.loc[len(tradelog)] = [CE_ticker_ATM, CE_ATM_Entry_time, CE_ATM_Entry_price, stop_loss_exit, CE_ATM_exit_time, CE_ATM_exit_price]
tradelog.loc[len(tradelog)] = [CE_ticker_OTM, CE_OTM_Entry_time, CE_OTM_Entry_price, stop_loss_exit, CE_OTM_exit_time, CE_OTM_exit_price]

In [21]:
tradelog

,Ticker,Entry Time,Entry Price,Stop Loss Exit,Exit Time,Exit Price
0,BANKNIFTY09JAN2032400CE,2020-01-03 09:29:59,175.6,1,2020-01-03 10:55:59,133.15
1,BANKNIFTY09JAN2032600CE,2020-01-03 09:29:59,103.5,1,2020-01-03 10:55:59,75.75

In [22]:
tradelog['Buy'] = 0
tradelog['Sell'] = 0
for i in range(len(tradelog)):
    
    if tradelog['Ticker'].iloc[i].strip()[-7:] == ATM_strike:
        tradelog['Buy'][i] = 1
        tradelog['Sell'][i] = 0
    elif tradelog['Ticker'].iloc[i].strip()[-7:] == OTM_strike:
        tradelog['Sell'][i] = 1
        tradelog['Buy'][i] = 0
tradelog

,Ticker,Entry Time,Entry Price,Stop Loss Exit,Exit Time,Exit Price,Buy,Sell
0,BANKNIFTY09JAN2032400CE,2020-01-03 09:29:59,175.6,1,2020-01-03 10:55:59,133.15,1,0
1,BANKNIFTY09JAN2032600CE,2020-01-03 09:29:59,103.5,1,2020-01-03 10:55:59,75.75,0,1

In [23]:
#PNL
tradelog['PnL'] = 0
for i in range(len(tradelog)):
    if tradelog['Buy'][i] == 1 and tradelog['Sell'][i] == 0 :
        tradelog['PnL'][i] = 25*(tradelog['Exit Price'][i] - tradelog['Entry Price'][i])
    elif tradelog['Buy'][i] == 0 and tradelog['Sell'][i] == 1 :
        tradelog['PnL'][i] = 25*(tradelog['Entry Price'][i] - tradelog['Exit Price'][i])
    else:
        pass
tradelog['Cumulative_PnL'] = tradelog['PnL'].cumsum()
tradelog

,Ticker,Entry Time,Entry Price,Stop Loss Exit,Exit Time,Exit Price,Buy,Sell,PnL,Cumulative_PnL
0,BANKNIFTY09JAN2032400CE,2020-01-03 09:29:59,175.6,1,2020-01-03 10:55:59,133.15,1,0,-1061,-1061
1,BANKNIFTY09JAN2032600CE,2020-01-03 09:29:59,103.5,1,2020-01-03 10:55:59,75.75,0,1,693,-368